.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    

    .box {
        padding-left: 150px;
        padding-right: 150px;
        background-color: #EEEEEE;
    }

}


@media (max-width: 750px) { 
    .container{
        
    
        .box {
            padding-left: 70px;
            padding-right: 70px;
        }
    
    }
}

@media (max-width: 450px) { 
    .container{
        
    
        .box {
            padding-left: 0px;
            padding-right: 0px;
        }
    
    }
}

