$red-padding: 16px;
$green-margin: 32px;


.container {
	display: flex;
	flex-direction: row;
	padding: 0px 50px 20px 0;
	position: relative;
	background-color: white;
    border-bottom: 3px #999999;

	.image {
		height: 180px;
		width: 180px;
		object-fit: contain;
		padding: $red-padding;
		border-radius: 4px;
	}

	.itemInfo {
		display: flex;
        flex-direction: column;
        justify-content: center;

		a {
			text-decoration: none;
			color: inherit;
			font-size: 24px;
			margin-bottom: $green-margin;

			.price {
				font-size: 24px;
				margin-bottom: $green-margin;
	
				.priceSymbol {
					margin-right: 5px;
				}
	
	
				.freeShipping {
					margin-left: 10px;
				}
			}
		}
        

	

        

        .title {
            font-size: 18px;

			a {
				text-decoration: none;
				color: inherit;
			}
        }
	}
}

@media (max-width: 400px) {
	.container {
	
		.itemInfo {
			
			a {
				font-size:18px;
				.price {
					font-size:18px;
		
					.freeShipping {
						margin-left: 5px;
					}
				}
			}
	
			
	
			
	
			.title {
				font-size: 15px;
			}
		}
	}
}
